@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.green_yellow.DEFAULT');
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.green_yellow.300');
}

/* radix themes */


.baby {
  animation: baby 1s linear;
}

@keyframes baby {
  0% {
    transform: translateY(0%);
  }

  70% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}