@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'TuskerGrotesk';
  src: url('./assets/fonts/tuskergrotesk/TuskerGrotesk-6600Semibold.woff2') format('woff2'),
       url('./assets/fonts/tuskergrotesk/TuskerGrotesk-6600Semibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TuskerGrotesk';
  src: url('./assets/fonts/tuskergrotesk/TuskerGrotesk-6500Medium.woff2') format('woff2'),
       url('./assets/fonts/tuskergrotesk/TuskerGrotesk-6500Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TuskerGrotesk';
  src: url('./assets/fonts/tuskergrotesk/TuskerGrotesk-5500Medium.woff2') format('woff2'),
       url('./assets/fonts/tuskergrotesk/TuskerGrotesk-5500Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.05rem;
  font-family: theme('fontFamily.poppins');
  background-color: theme('colors.jett-black');
  color: theme('colors.green_yellow.DEFAULT');
}

/* ----------- scrollbar ----------- */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #000;
  /* border: 1px solid theme('colors.green_yellow.DEFAULT'); */
}

::-webkit-scrollbar-thumb {
  background: theme('colors.green_yellow.DEFAULT');
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.green_yellow.300');
}

.underline-animation:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--underline-color, theme('colors.green_yellow.DEFAULT'));
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.underline-animation:focus:after,
.underline-animation:hover:after {
  width: 100%;
  left: 0%;
}

.underline-animation.underline-green_yellow::after {
  --underline-color: theme('colors.green_yellow.DEFAULT');
}

.underline-animation.underline-black::after {
  --underline-color: theme('colors.black'); 
}
